@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 10% 97%; /* #f6f8f7 */
    --foreground: 143 30% 10%;
    --card: 0 0% 100%;
    --card-foreground: 143 30% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 143 30% 10%;
    --primary: 144 61% 55%; /* #36e27b - Matching app style */
    --primary-foreground: 144 30% 10%;
    --secondary: 150 10% 90%;
    --secondary-foreground: 143 30% 10%;
    --muted: 150 10% 90%;
    --muted-foreground: 143 10% 40%;
    --accent: 150 10% 90%;
    --accent-foreground: 143 30% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 10% 85%;
    --input: 150 10% 85%;
    --ring: 144 61% 55%;
    --radius: 0.625rem;
  }

  .dark:root {
    --background: 143 30% 10%; /* #122117 - Matching app background */
    --foreground: 0 0% 98%;
    --card: 143 30% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 143 30% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 144 61% 55%; /* #36e27b */
    --primary-foreground: 144 30% 10%;
    --secondary: 143 30% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 143 30% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 143 30% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 143 30% 20%;
    --input: 143 30% 20%;
    --ring: 144 61% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
